body {
  margin: 0;
  padding: 0;
}
.without-header-full-content {
  padding: 20px;
  background: #f8faff;
}
.add-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  background: #fff;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  padding: 0 50px;
  /* background: white; */
}

.input-and-arrow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.circle-left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* background: #fff; */
  border: 1px solid #314c80;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: #bbc6da;
}
.circle-left-arrow:hover {
  background: #f1eeee;
  border: 1px solid transparent;
}
.input-and-arrow input {
  border-radius: 10px;
  background: #eff3fc;
  border: none;
  outline: none;
  width: 457px;
  height: 30px;
  color: #8c90b6;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px;
}

.preview-and-save-btn {
  display: flex;
  align-items: center;
  gap: 11px;
  position: relative;
}

.preview-and-save-btn img {
  position: absolute;
  left: 12px;
  top: 9px;
}

.preview-and-save-btn button {
  color: #f5772d;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background: #ffdcc7;
  padding: 10px;
  padding-left: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.createResourceIcon {
  background: #eff3fc;
  border-radius: 10px;
  padding: 10px;
  height: 44px;
  width: 44px;
  cursor: pointer;
}
.add-question-save-btn {
  border-radius: 10px;
  background: #314c80 !important;
  padding: 10px 30px !important;
  color: white !important;
  font-size: 20px !important;
  transition: background 0.3s ease, border-bottom 0.3s ease, transform 0.2s ease !important;
}

.add-question-save-btn:hover {
  background: #1f3251 !important;
}

/* add question box start  */

.question-add-box {
  border-radius: 20px;
  border: 1px solid #afc5ef;
  background: #fff;
  box-shadow: 0px 2.49247px 14.3317px 0px rgba(0, 0, 0, 0.07);
  padding: 20px;
}

.question-add-box-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-qeustion-text-edit-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  border-radius: 140px;
  border: 1px solid #eff3fc;
  background: #fafafa;
  padding: 10px 30px;
  /* padding: 20px; */
}

.bold-italic-etc-icon {
  gap: 10px;
  display: flex;
  align-items: center;
}

.bold-italic-etc-icon img {
  cursor: pointer;
}
.add-img-add-vid-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-img-add-vid-icons img {
  cursor: pointer;
}

.delete-and-copy-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.delete-and-copy-btn img {
  border: 1px solid #afc5ef;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.delete-and-copy-btn img:hover {
  background: #afc5ef;
}

.enter-your-que-input {
  border-radius: 10px;
  background: #eff3fc;
  border: none;
  outline: none;
  width: 97.4%;
  /* height: 30px; */
  color: #8c90b6;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 15px;
  margin-top: 15px;
}

.question-option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #afc5ef;
  background: #fff;
}

.question-option span {
  border-radius: 10px;
  background: #eff3fc;
  padding: 12px 16px;
  color: #364e79;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.question-option p {
  color: #364e79;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.add-another-option {
  color: #ffc300;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  background: #fff9e4;
  padding: 18px 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* width: 260px; */
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}
.add-another-option:hover {
  background: #f3edd7;
}
.add-question-btn {
  padding: 15px !important;
  border-radius: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  width: 183px !important;
}

@media screen and (max-width: 768px) {
  .input-and-arrow input {
    width: 100px;
  }
  .add-question-header {
    padding: 0 20px;
  }
  .delete-and-copy-btn img {
    padding: 5px;
  }
}
