body {
  margin: 0;
  padding: 0;
}

.main-wrapper-for-design-hard-copy {
  padding: 20px;
}
.design-hard-paper-heading {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #203864;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  padding: 0 25px;
}

.design-hard-heding-right-side-icons {
  display: flex;
  gap: 26px;
}

.design-hard-heding-right-side-icons .icons-and-text {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.design-hard-heding-right-side-icons .icons-and-text img {
  background: #3e5786;
  padding: 6px;
  border-radius: 50%;
}

.design-hard-heding-right-side-icons .icons-and-text p {
  margin: 0;
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 15.478px;
  font-weight: 400;
}

.design-hard-heding-right-side-icons .icons-and-text .assign {
  color: #f8faff;
}

.design-hard-heding-right-side-icons .icons-and-text .delete-icon-head {
  border: 1px solid #ff9d9d;
}

.header-left-arrow {
  display: flex;
  /* width: 24px;
    height: 24px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* background: #fff; */
  border: 1px solid #314c80;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: #bbc6da;
}

.header-left-arrow:hover {
  background: #92b3f1;
  border: 1px solid #92b3f1;
}

.page-setting-text-etc-option-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  overflow: auto;
}

.just-pages-and-settings-wrapper {
  display: flex;
  gap: 12px;
  margin-right: 60px;
}

.page-setting-text-etc-option-wrapper .icons-setting-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.icons-settings-area-inner {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.icons-settings-area-inner p {
  margin: 2px 0;
  color: #364e79;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.icons-setting-area .svg-photo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.setting-and-page-extra-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border-bottom: 2px solid #ffc300;
  background: #eff3fc;
  padding: 15px;
}
.setting-and-page-extra-style img {
  height: 24px;
  width: 24px;
}

.preview-and-publish-btn-area {
  display: flex;
  gap: 20px;
}

.preview-and-publish-btn-area button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.preview-and-publish-btn-area .preview-btn {
  background: #f5772d;
}

.preview-and-publish-btn-area .publish-btn {
  background: #ffc300;
}

.design-hard-test-user-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  margin-top: 10px;
  /* width: 1440px; */
  overflow: auto;
}
.design-hard-test-user-icons p {
  color: #364e79;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
  margin: 0;
  cursor: pointer;
  /* border: 2px solid red; */
  /* width: 400px !important; */
  margin-right: 40px !important;
}

.just-pages-and-settings-wrapper-with-text {
  margin-right: 10px !important;
}

.design-hard-test-user-icons-inner-wrapper {
  display: flex;
  gap: 25px;
}

.design-hard-test-user-icons-inner-wrapper .number-and-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.design-hard-test-user-icons-inner-wrapper .number-and-icons span {
  color: #8c90b6;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.design-hard-test-user-icons-inner-wrapper .svg-icons {
  background-color: #eff3fc;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-input-deisgn-hard input {
  border-radius: 10px;
  border: none;
  outline-style: none;
  padding: 11px 15px;
  background: #eff3fc;
  width: 319px;
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .design-hard-paper-heading {
    padding: 5px;
  }
  .header-left-arrow {
    padding: 3px;
  }
  .design-hard-heding-right-side-icons {
    gap: 8px;
  }
  .design-hard-heding-right-side-icons .icons-and-text img {
    padding: 3px;
  }

  .icons-and-text p {
    font-size: 12px !important;
  }
}

/* scrollbar editz  */
.page-setting-text-etc-option-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.page-setting-text-etc-option-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.page-setting-text-etc-option-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.page-setting-text-etc-option-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
