body {
  margin: 0;
  padding: 0;
}
.shared-sidebar-wrapper {
  position: relative;
}

.shared-sidebar {
  background: white;
  overflow: auto;
  width: 586px;
  height: 100%;
  height: 990px;
  position: absolute;
  right: 0;
  padding: 60px 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shared-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shared-sidebar-cross-icon-and-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shared-sidebar-cross-icon-and-text img {
  border-radius: 10px;
  background: #afc5ef;
  padding: 10px;
  cursor: pointer;
}

.shared-sidebar-cross-icon-and-text p {
  margin: 0;
  color: #364e79;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shared-sidebar-save-btn {
  border-radius: 10px;
  background: #314c80;
  padding: 15px 30px;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.shared-sidebar-save-btn:hover {
  background: rgb(37, 63, 110);
}

.enable-interactivity-toogle p {
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 36px;
}

/* check box styling  */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60.59px;
  height: 24px;
  background-color: #e1e9f6;
  border-radius: 12px;
  flex-shrink: 0;
  cursor: pointer;
}

.toggle-switch .toggle-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #364e79;
  transition: transform 0.2s;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.testing-required-card {
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 2.49247px 14.3317px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}
.testing-required-card img {
  width: 100%;
  border-radius: 20px;
  height: 102px;
}
.testing-required-card h5 {
  color: #364e79;
  font-family: "Gilroy", sans-serif;
  font-size: 11.216px;
  font-weight: 500;
  margin-top: 10px;
}

.testing-required-card p {
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 8.724px;
  font-weight: 500;
  margin: 8px 0;
}

/* component 54 css code  */

.photo-add-section-in-shared-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #eff3fc;
  padding:40px 30px;
  /* height: 145px; */
  margin-top: 50px;
  cursor: pointer;
  /* border: 2px solid red; */
}

.photo-add-section-in-shared-sidebar .add-img-icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-add-section-in-shared-sidebar .add-img-icon-and-text p {
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.export-and-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.export-and-search-btn button {
  outline: none;
  color: #a0a3bd;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 50%;
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid #8c90b6;
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

.export-and-search-btn button:hover {
  background: #f8f6f6;
}

/* component 31 style  */

.choose-audio-file {
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 45px;
}

@media screen and (max-width: 768px) {
  .shared-sidebar-wrapper {
    width: 90% !important;
    position: absolute;
    right: 0;
  }

  .shared-sidebar {
    right: 0 !important;
    width: 90% !important;
    padding: 60px 20px;
  }

  .shared-sidebar-cross-icon-and-text p {
    font-size: 18px;
  }
  .shared-sidebar-save-btn {
    padding: 10px 20px;
  }
}
